
  <title>View All Files</title>
  {% extends 'dashboard.html' %}
  {% block addcss %}
  <link rel="stylesheet" href="/static/viewallnotes.css">
  {% endblock %}
  {% block content %}
  <div class="container">
    <h1>View All Files</h1>
    <table class="notes-table">
      <thead>
        <tr>
          <th>fileid</th>
          <th>filename</th>
          <th>Created_At</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        {% for i in filedata %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td><a href="{{url_for('viewfile',fid=i[0])}}">view</a></td>
            <td><a href="{{url_for('downloadfile',fid=i[0])}}">download</a></td>
            <td><a href="{{url_for('deletefile',fid=i[0])}}">delete</a></td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}


