<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .body{
            background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220305/pngtree-register-now-blue-banner-image_1066696.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <form method="POST">
    <h1>Register</h1>
    <p><input class="user" type="text" name="userid" placeholder="Enter userid"></p>
        <p>
            <input  class="username" type="text" name="username" placeholder="Enter username">
        </p>
        <p><input class="email" type="email" name="email" placeholder="Enter  Your email"></p>
        <p><input class="no" type="text" name="password" placeholder="Enter your password"></p>
        <p><button class="user">submit</button></p>
    </form>
    </div>
</body>
</html>