{% extends 'dashboard.html' %}
{% block addcss %}
     <style>
          /* General Reset */
          /* body {
               font-family: Arial, sans-serif;
               margin: 0;
               padding: 0;
               background-color: #f0f0f0;
               display: flex;
               justify-content: center;
               align-items: center;
               height: 100vh;
          } */

          form {
               background: #ffffff;
               padding: 20px;
               border-radius: 8px;
               box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
               width: 320px;
          }

          h3 {
               text-align: center;
               color: #333;
               margin-bottom: 20px;
               font-size: 20px;
               text-transform: uppercase;
          }

          p {
               margin: 15px 0;
          }

          input[type='text'],
          textarea {
               width: 90%;
               padding: 10px;
               margin-top: 5px;
               border: 1px solid #ccc;
               border-radius: 4px;
               font-size: 14px;
          }

          textarea {
               height: 100px;
               resize: none;
          }

          input[type='text']:focus,
          textarea:focus {
               border-color: #4CAF50;
               outline: none;
               box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);

          }

          button {
               width: 100%;
               background-color: #17181a;
               color: white;
               padding: 10px;
               border: none;
               border-radius: 4px;
               font-size: 16px;
               cursor: pointer;
          }

          button:hover {
               background-color: #17181a;
          }
     </style>
     {% endblock %}
     {% block content %}
     <form action="" method="POST">
          <h3>view </h3>
          <h5>created at: {{ndata[3]}}</h5>
          <p><input type='text' name="title" value="{{ndata[1]}}" placeholder="enter title"></p>
          <p><textarea name="description" id="" readonly>{{ndata[2]}}</textarea></p>
          
          </p>
     </form>


     {% endblock %}
